<!DOCTYPE html>
  <html lang="ko">
    <head>
      <meta charset="UTF=8">
      <meta name="viewport" content="width=device-width, install-scale=1.0">
      <link rel="stylesheet" href="/css/home/login.css">
      <script src="/js/home/login.js" defer></script>
      <!-- defer는 값이 입력받기 전 null값을 없애주는 역할 -->
      <title>Document</title>
    </head>
    <body> 

      <div class="login-page">
        <div class="form">
            <form class="login-form">
            <input id="id" type="text" placeholder="아이디"><br>
            <input id="password" type="password" placeholder="패스워드"><br>
            <button>로그인</button>
            <p class="message">Not registered? <a href="/register">Create an account</a></p>
          </form>
        </div>
      </div>
    </body>
  </html>


  <!-- Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->
  